<footer class="footer">
  <div class="footer-inner">
    <nav class="footer-nav">
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Products</h3>
        <ul class="footer-nav-list">
          <li><a href="https://www.evoko.se/products/evoko-naso/">Evoko Naso</a></li>
          <li><a href="https://www.evoko.se/products/evoko-pusco/">Evoko Pusco</a></li>
          <li><a href="https://www.evoko.se/products/evoko-liso/">Evoko Liso</a></li>
          <li><a href="https://www.evoko.se/products/evoko-minto/">Evoko Minto</a></li>
          <li><a href="https://www.evoko.se/products/evoko-groupie/">Evoko Groupie</a></li>
          <li><a href="https://www.evoko.se/products/evoko-room-manager/">Evoko Room Manager</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">The Health Community</h3>
        <ul class="footer-nav-list">
          <li><a href="https://www.ad.nl/dordrecht/sportcentrum-opent-deuren-in-sliedrecht~a90979c2/">Onze start</a></li>
          <li><a href="https://sportcentrumalblasserwaard.nl/waarom-sportcentrum-alblasserwaard.html">Waarom SCA</a></li>
          <li><a href="https://www.google.com/search?q=sportcentrum+alblasserwaard&rlz=1C1CHBF_nlNL924NL924&ei=mvjZYPOtCIbykwXerbTQAg&oq=sportcentrum+alblasserwaard&gs_lcp=Cgdnd3Mtd2l6EAMyCwguEMcBEK8BEJMCMgIIADICCAAyAggAMgYIABAWEB4yBggAEBYQHjICCCY6BwgAEEcQsAM6BAgAEEM6BQgAELEDOggIABCxAxCDAToICC4QsQMQgwE6BwgAELEDEEM6CgguELEDEIMBEEM6BAguEEM6CggAELEDEIMBEEM6CAguEMcBEK8BOggILhDHARCjAjoLCC4QxwEQowIQkwI6CgguEMcBEK8BEApKBAhBGABQxwpY7CJgwCNoAnACeACAAY8BiAGUFJIBBTE3LjEwmAEAoAEBqgEHZ3dzLXdpesgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwjz4vfM37rxAhUG-aQKHd4WDSoQ4dUDCA4&uact=5#lrd=0x47c682087d9f2f91:0xda354924619eee42,1,,,">Onze leden over ons</a></li>
          <li><a href="https://sportcentrumalblasserwaard.nl/blog">Blog</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">Resources</h3>
        <ul class="footer-nav-list">
          <li>{{#link 'help_center'}}Help Center{{/link}}</li>
          <li><a href="https://www.evoko.se/downloads/">Downloads</a></li>
          <li><a href="https://download-liso.evoko.se/" target="_blank" rel="noopener">Evoko Liso Download page</a></li>
          <li><a href="https://www.youtube.com/channel/UCCkVMPEbjkrqZIg5N_nrI0A" target="_blank" rel="noopener">Support
              Youtube Channel</a></li>
          <li><a href="https://www.evoko.se/how-to-buy/">How To Buy</a></li>
        </ul>
      </div>

    </nav>
    <div class="footer-bottom">
      <div class="footer-bottom-copyright">©2021 Sportcentrum Alblasserwaard</div>
      <div class="footer-bottom-social">
        <a href="https://www.instagram.com/sc.alblasserwaard/" target="_blank" rel="noopener" <i
            class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/scalblasserwaard" target="_blank" rel="noopener"
          aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      </div>
      {{#if alternative_locales}}
      <div class="footer-bottom-language-selector">
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</footer>