<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://sportcentrumalblasserwaard.nl/" title="Sportcentrum Alblasserwaard">
        {{!-- full logo for desktop --}}
        <image class="evoko-logo-full" src="https://sportcentrumalblasserwaard.nl/lp/wp-content/uploads/2021/06/profelfoto.png" viewBox="0 0 402.4 103.97" height="50px" width="50" version="1.1">
          <defs>
            <style>
              .evoko-logo-b,
              .evoko-logo-c {
                stroke-width: 3px;
              }
            </style>
          </defs>
          <image class="evoko-logo-a" src="https://sportcentrumalblasserwaard.nl/lp/wp-content/uploads/2021/06/profelfoto.png" viewBox="0 0 402.4 103.97" height="50px" width="50" version="1.1">/>
          <image class="evoko-logo-b" src="https://sportcentrumalblasserwaard.nl/lp/wp-content/uploads/2021/06/profelfoto.png" viewBox="0 0 402.4 103.97" height="50px" width="50" version="1.1">/>
          <image class="evoko-logo-c" src="https://sportcentrumalblasserwaard.nl/lp/wp-content/uploads/2021/06/profelfoto.png" viewBox="0 0 402.4 103.97" height="50px" width="50" version="1.1">/>

        {{!-- favicon for mobile --}}
        <svg class="evoko-logo-fav" viewBox="0 0 131.68 102.15" height="30px" width="38.67px" version="1.1">
          <defs>
            <style>
              .logo-b {
                fill: none;
                stroke-width: 3px;
              }
            </style>
          </defs>
          <path class="logo-a"
            d="M219.11,352.61l-24,75.78q-.75,2.46-2.37,2.46c-1.05,0-1.84-.84-2.38-2.52l-28.6-90.55H109.33a12.4,12.4,0,0,0-8.76,3.13,11,11,0,0,0-3.37,8.46h-.07v74.4a10.82,10.82,0,0,0,3.54,8.31,12.32,12.32,0,0,0,8.66,3.27h47.94v-5.58H108.72q-5.52-.82-5.52-5.94V389.16h39.1v-5.39H103.2V349.3q0-5.12,5.52-5.93h48.65l26.84,84.56q2.86,9,8.52,9t8.65-9l23.88-75.32Z"
            transform="translate(-95.63 -334.45)" />
          <path class="logo-b"
            d="M219.11,352.61l-24,75.78q-.75,2.46-2.37,2.46c-1.05,0-1.84-.84-2.38-2.52l-28.6-90.55H109.33a12.4,12.4,0,0,0-8.76,3.13,11,11,0,0,0-3.37,8.46h-.07v74.4a10.82,10.82,0,0,0,3.54,8.31,12.32,12.32,0,0,0,8.66,3.27h47.94v-5.58H108.72q-5.52-.82-5.52-5.94V389.16h39.1v-5.39H103.2V349.3q0-5.12,5.52-5.93h48.65l26.84,84.56q2.86,9,8.52,9t8.65-9l23.88-75.32Z"
            transform="translate(-95.63 -334.45)" />
        </svg>
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/en-us" title="Sportcentrum Alblasserwaard">support</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>